# Secrets
.env
*.env

# temporary assets, package managers, build artefacts, etc
tmp
node_modules/
vendor/
backups/
build/
dist/
# Static site builds to be served via caddy 
web/static/*
# caches, notes, and IDE files
.editorconfig
.npm
cache
.eslintcache
.stylelintcache
.notes/
.vscode/
.github/
.astro

# logs
*.log
npm-debug.log*

# wp
wp/**/backups/
wp/**/logs/
wp/dev/bedrock/
wp/staging/bedrock/
#mac crap
.DS_Store

#trivy
trivy.yaml