# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
# ░░█▀█░█▀▄░█▀▀░░░█▀█░█▀█░░░█▀▄░▀█▀░█▀█░░░░░░░░      
# ░░█▀█░█▀▄░█░░░░░█░█░█░█░░░█▀▄░░█░░█░█░░░░░░░░      
# ░░▀░▀░▀▀░░▀▀▀░░░▀░▀░▀▀▀░░░▀░▀░▀▀▀░▀▀▀░░░░░░░░
# ░░█▀▀░█▄█░█▀▀░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
# ░░█░░░█░█░▀▀█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
# ░░▀▀▀░▀░▀░▀▀▀░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
# ░░ Runtime env sample variables ░░░░░░░░░░░░░
# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
#
COMPOSER_HOME=/tmp/composer
COMPOSER_CACHE_DIR=/tmp/composer/cache
ASTRO_BUILD_ARCHIVE_DIR=/container/path/to/build-archives
MAX_BACKUPS=5

# ASTRO_BUILD_TRIGGER_SECRET is owned by abcnorio-meta/.env and injected by compose.

# Shared WP container settings (loaded by both abcwpdev and abcwpstaging)
SERVER_NAME=:80
DB_HOST=mariadb
DB_USER=your-db-user
DB_PASSWORD=your-db-password
WORDPRESS_TABLE_PREFIX=wp_
TTL=80000
CADDY_ROOT=/app/web/
COMPONENT_DIST_DIR=/var/www/html/web-app/mu-plugins/abcnorio-components/dist


