{
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	@prod host abcnorio.itztlacoliuhqui.org
	@dev host dev.itztlacoliuhqui.org
	@staging host staging.itztlacoliuhqui.org
	@preview host preview.itztlacoliuhqui.org

	handle @prod {
		root /srv/prod/client/
		file_server
		templates
		encode zstd gzip
	}

	handle @dev {
		root /srv/dev/client/
		file_server
		templates
		encode zstd gzip
	}

	handle @staging {
		root /srv/staging/client/
		file_server
		templates
		encode zstd gzip
	}

	handle @preview {
		root /srv/preview/client/
		file_server
		templates
		encode zstd gzip
	}

	handle_errors {
		rewrite * /404.html
		file_server
	}
}
