{
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	@prod host {$DOMAIN_PRODUCTION}
	@dev host {$DOMAIN_DEV}
	@staging host {$DOMAIN_STAGING}
	@preview host {$DOMAIN_PREVIEW}

	handle @prod {
		root /srv/prod/client/
		file_server
		templates
		encode zstd gzip
	}

	handle @dev {
		root /srv/dev/client/
		file_server
		templates
		encode zstd gzip
	}

	handle @staging {
		root /srv/staging/client/
		file_server
		templates
		encode zstd gzip
	}

	handle @preview {
		root /srv/preview/client/
		file_server
		templates
		encode zstd gzip
	}

	@docs host {$DOCS_DOMAIN}
	handle @docs {
		root /srv/docs/
		file_server
		encode zstd gzip
	}

	handle_errors {
		rewrite * /404.html
		file_server
	}
}
